.BrandCard {
    
    img {
        width: 308px;
        height: 64px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.13);
        border-radius: 4px;
        margin: 10px 0px;
    }
    display: flex;
    align-items: center;
    justify-content: center;

    
    @media screen and (min-width:769px) {
        img {
            width:248px
        }
    }
    @media screen and (max-width:1200px) {
        img {
            width:188px;
            height: auto;
        }
    }
    @media screen and (max-width:465px) {
        img {
            width:248px;
            height: auto;
        }
    }
}