.slick-arrow {
    &::before {}
}

.slick-next {
    left: 90%;

    &::before {
        content: '';
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAyMCAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgaWQ9Il9pY29uLW5leHQiPgo8cGF0aCBpZD0iVmVjdG9yIiBkPSJNMTguOTA0NyAxNy4yNDM2TDQuNjYzMyAzMS40ODQ5QzMuOTc2NDYgMzIuMTcxNyAyLjg2MjkxIDMyLjE3MTcgMi4xNzYxMyAzMS40ODQ5TDAuNTE1MTE3IDI5LjgyMzhDLTAuMTcwNTU2IDI5LjEzODIgLTAuMTcxODc1IDI4LjAyNjkgMC41MTIxODYgMjcuMzM5NkwxMS43OTg3IDE2TDAuNTEyMTg2IDQuNjYwMzlDLTAuMTcxODc1IDMuOTczMSAtMC4xNzA1NTYgMi44NjE4MiAwLjUxNTExNyAyLjE3NjE1TDIuMTc2MTMgMC41MTUxMzRDMi44NjI5OCAtMC4xNzE3MTEgMy45NzY1MyAtMC4xNzE3MTEgNC42NjMzIDAuNTE1MTM0TDE4LjkwNDYgMTQuNzU2NEMxOS41OTE0IDE1LjQ0MzIgMTkuNTkxNCAxNi41NTY3IDE4LjkwNDcgMTcuMjQzNloiIGZpbGw9ImJsYWNrIi8+CjwvZz4KPC9zdmc+Cg==);
        background-repeat: no-repeat;
        width: 19.42px;
        height: 32px;
        display: block;
    }
}

.slick-prev {
    left: 10%;
    z-index: 999;

    &::before {
        content: '';
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAyMCAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgaWQ9Il9pY29uLXByZXYiPgo8cGF0aCBpZD0iVmVjdG9yIiBkPSJNMC41MTQ5NzEgMTQuNzU2MUwxNC43NTY4IDAuNTE0OTcxQzE1LjQ0MzQgLTAuMTcxNjU3IDE2LjU1NzMgLTAuMTcxNjU3IDE3LjI0MzkgMC41MTQ5NzFMMTguOTA1MiAyLjE3NjIxQzE5LjU5MTEgMi44NjIxMSAxOS41OTE4IDMuOTczMDIgMTguOTA4MSA0LjY2MDM4TDcuNjIwODcgMTUuOTk5NkwxOC45MDc0IDI3LjMzOTZDMTkuNTkxOCAyOC4wMjcgMTkuNTkwMyAyOS4xMzc5IDE4LjkwNDQgMjkuODIzOEwxNy4yNDMyIDMxLjQ4NUMxNi41NTY2IDMyLjE3MTcgMTUuNDQyNyAzMi4xNzE3IDE0Ljc1NjEgMzEuNDg1TDAuNTE0OTcxIDE3LjI0MzJDLTAuMTcxNjU3IDE2LjU1NjYgLTAuMTcxNjU3IDE1LjQ0MjcgMC41MTQ5NzEgMTQuNzU2MVoiIGZpbGw9ImJsYWNrIi8+CjwvZz4KPC9zdmc+Cg==);
        background-repeat: no-repeat;
        width: 19.42px;
        height: 32px;
        display: block;
    }
}

.SliderContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.FSliderD {
    display: none;
}

@media (min-width:769px) {
    .FSliderD {
        display: block;
    }

    .FSliderM {
        display: none;
    }

}


@media (max-width:768px) {
    .Product {
        .slick-list {
            padding: 0px 30px;
        }
    }

}