.CardPDP {

    
    width: 278px;
    margin: 0px;
    img{
        width: 100%;
    }
    .ColorsGroup {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        margin-left: 5px;
        margin-top: 7px;
        div {
            border-radius: 4px;
        }
    }

    .ProductNameAndPrice {
        margin-left: 5px;
        p {
            margin: 0;
            padding: 0;
        }

        .PDPPrice {
            font-family: 'Titillium Web';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            color: #353535;
        }

        .PDPName {
            font-family: 'Titillium Web';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #000000;
            @media screen and (max-width:335px){
                font-size: 14px;
            }
        }
    }

    .ProductDescri {
        font-family: 'Titillium Web';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
        margin-left: 5px;
        opacity: 0.5;
    }

    button {
        width: 100%;
        background: #FAA500;
        border-radius: 4px;
        font-family: 'Titillium Web';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;

        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        height: 35px;
    }
    @media (max-width:1200px){
        width: 11rem !important;
        .ColorsGroup{
            div{
                width: 20px !important;
                height: 20px !important;
            }
        }
        .PDPName{
            font-size: 14px !important;
        }
    }
    @media screen and (max-width:768px) {
        
        margin-left: 25px !important;
        width: auto;

        width: 15rem !important;
        .ColorsGroup{
            div{
                width: 27px !important;
                height: 27px !important;
            }
        }
        .PDPName{
            font-size: 16px !important;
        }
    }
    @media screen and (max-width:365px) {
        
        margin-left: 25px !important;
        width: auto;

        width: 11.5rem !important;
        .ColorsGroup{
            div{
                width: 20px !important;
                height: 20px !important;
            }
        }
        .PDPName{
            font-size: 14px !important;
        }
    }

    
}